{% extends "base.html" %}
{% block title %}Orange County Lettings{% endblock title %}

{% block content %}
<div class="container px-5 py-5 text-center">
    <h1 class="page-header-ui-title mb-3 display-6 text-danger">500 error</h1>
</div>

<div class="container px-5 py-5 text-center">
<div class="card">
<div class="card-body">
       <p><strong><h1>Server Error</h1></strong></p>
       <a class="btn fw-500 ms-lg-4 btn-primary" href="{% url 'index' %}"> Return </a>
</div>
</div>
</div>

<div class="container px-5 py-5 text-center">
<div class="justify-content-center">
<a class="btn fw-500 ms-lg-4 btn-primary px-10" href="{% url 'profiles_index' %}">
    <i class="ms-2" data-feather="arrow-left"></i>
    Profile
</a>
<a class="btn fw-500 ms-lg-4 btn-primary px-10" href="{% url 'index' %}">
    Home
</a>
<a class="btn fw-500 ms-lg-4 btn-primary px-10" href="{% url 'lettings_index' %}">
    Lettings
</a>
</div>
</div>

{% endblock %}